style
  include textfield.scss
mixin textfield(type, placeholder, mask, src, value)
  .textfield
    input.textfield__input(class!=attributes.class, type=type, placeholder=placeholder, data-mask=mask, src=src, value=value)